<form action="/users/reset_password" method="post">
               Password: <input name="password"              type="password">
  Password Confirmation: <input name="password_confirmation" type="password">
                         <input name="token"                 type="hidden" value=<%= @token %>>

  <input type="submit" value="Submit">
</form>